.vscode/settings.json
asl/**
authorinfo/**
brushes/**
bundles/**
color-schemes/**
gamutmasks/**
gradients/**
input/**
paintoppresets/**
palettes/**
patterns/**
preset_icons/**
symbols/**
tags/**
taskset/**
workspaces/**
.vscode/**